Listen 80

<Directory /var/www/html>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>

<IfModule mod_php8.1.c>
    # Other PHP configurations...
    php_value date.timezone "Africa/Lagos"
</IfModule>